body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover {
  text-decoration: none;
}
.header {
  background-color: blue;
}
.container {
  border: 1px solid #cacaca; 
  padding: 10px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 5px #ccc;
  /* height: 100vh; */
}
.list-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 1px solid #cacaca; 
  padding: 10px;
  /* border-radius: 7px; */
  /* box-shadow: 2px 2px 2px #ccc; */
  margin: 20px 0px;
  cursor: pointer;
}
.list-container:hover {
  box-shadow: 5px 5px 5px #ccc;
}
.list-container > div > h3 {
    color: skyblue;
    font-size: 20px;
    font-weight: bold;
}
.list-container > div > div {
  display: flex;
}
.list-container > div > div > span {
  font-size: 14px;
  color: #999;
}
.blue {
  color: rgb(79, 204, 62) !important;
}
.bold {
  font-weight: bold;
}
.long {
  margin: 0px 5px;
}